<div class="nav-main">
    <div class="nav-inside">
        <ul class="nav-list">
            <li class="nav-item">
                <a routerLink="/home" routerLinkActive="active-link">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/hotels" routerLinkActive="active-link" >Hotel</a>
            </li>
            <li class="nav-item">
                <a routerLink="/customers" routerLinkActive="active-link" >Customer</a>
            </li>
            
        </ul>
    </div>
</div>
